{% extends "base.html" %}


{% block content %}


<div class='well'>
<h3>My account status</h3>
<p>{{user.user}}</p>

<p>Authentication:{{group}}</p>
<p>Registration:{{user.reg_time.strftime('%y-%m-%d %H:%M:%S')}}</p>
<p>Last Login:{{user.last_login.strftime('%y-%m-%d %H:%M:%S')}}</p>
<div class="control-group">
          
            <div class="controls">
              <div class="input-append">
                <form method='post'>
                <input class="span2" id="appendedInputButton" size="16" type="text" name="nickname" value='{{user.nickname}}'>
                <input class="btn" type="submit" value='Change nickname'>
              
            </form>
              </div>
            </div>
          </div>
{% if success==0 %}
<div class="alert alert-success">
  <p>  {{message}}</p>
</div>
{% endif %}
{% if success==1 %}
<div class="alert alert-error">
  <p>  {{message}}</p>
</div>
{% endif %}
</div>

<div class='well'>
<h3>Subject Setting</h3>
{% for s in subject %}
<span class='btn'>{{s}}</span>
{% endfor %}
<br>
</br>
 <a class="btn" href='/main/subchoose'>Change subject setting</a>
              
</div>

{% endblock %}
