<!doctype html>

<html lang="en">

<head><!--
<link rel="stylesheet" href="metro-bootstrap.css" type="text/css" media="screen" />-->

<link rel="stylesheet" href="/static/css/metro-bootstrap.css" type="text/css" media="screen" />

<script type="text/javascript" src="/static/js/jquery-1.8.0.js"></script>
<script type="text/javascript" src="/static/js/dropdown.js"></script>
<script type="text/javascript" src="/static/js/tab.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39218875-1']);
  _gaq.push(['_setDomainName', 'dhs.sg']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

function set(){
if(document.body.scrollWidth<965){
document.getElementById("test").style.display="none"}
else{
	document.getElementById("test").style.display=""
	}}

window.onload=set;
</script>








</head>

<body onResize="set()">

<!--Navibar-->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
               
                </a><a class="brand" href="/main/account">{{nickname}}</a>
           
            </a><a class="brand" href="/main/add_post">Add Post</a>
            </a><a class="brand" href="/main/account">Setting</a>
        </a><a class="brand" href="{{logout}}">Sign Out</a>
                <!--
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                        
                        <a href="index.html">Overview</a> </li>
                        <li class=""><a href="basecss.html">Base CSS</a> </li>
                        <li class="active"><a href="components.html">Components</a> </li>
                        
                    </ul>
                </div>
           		-->
            </div>
        </div>
    </div>
<div class='well' id="test" style="height:10px;" >
</div>

  <div class="subnav" style='z-index:0;'>
    <ul class="nav nav-pills">
        <li><a href="#">QuickNavi:)</a></li>
        <li><a href="/main">Mainpage</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Subject <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {{temp_html|safe}}
        </ul>
      </li>
    
      <li><a href="/main/profile/{{nickname}}">My Profile</a></li>
    </ul>
  </div>



<div style="padding-bottom: 100px;">
{% block content %}
 {% endblock %}
</div>
<!--
<div style="height: 100px;
　position: relative;
　margin-top: -100px;">
	<p>
		Copyright &copy; 2013 natsuyuu
	</p>

</div>
-->
</body>
</html>
