{% extends "base.html" %}


{% block content %}


<div class='well'>

<div style='width:100px;height:100px;'>
{{img|safe}}
{% if not img %}
<img src='/static/img/avatar.png'></img>
{% endif %}  
</div>  


<h3>Welcome, {{user.nickname}}</h3>
<p>{{group}}</p>
<p>Last Login:{{user.last_login.strftime('%y-%m-%d %H:%M:%S')}}</p>

</div>

<div class="span7">
      {% if not temp_html %}
      <div class="alert alert-success">
        Welcome to DHSlecture! We notice that you have not indicated your subject combination yet. <a href='/main/subchoose'>&gt;&gt; Click here &lt;&lt; </a>to go to the setting page.
    </div>
      {% endif %}
      <h3>Subjects</h3>
      <ul class="nav nav-pills nav-stacked">
        {% if temp_html %}
        <li class='active'><a href="#">View All</a></li>
        {% endif %}
        {{temp_html|safe}}
      </ul>
</div>


{% endblock %}


