{% extends "base.html" %}


{% block content %}

<div class="span8">
   <h3>{{subject}}</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title &nbsp; &nbsp; &nbsp;</th>
            <th>Reply</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
            {% for post in posts %}
          <tr>
            <td><a href="/main/post/{{post.pid}}">{{post.title}}</a></td>
            <td>{{post.comment_num}}</td>
            <td><a href='/main/profile/{{post.relevant_user.nickname}}'>{{post.relevant_user.nickname}}</a></td>
           {% endfor %}
          </tr>
        
        </tbody>
      </table>
    </div>



{% endblock %}
